*{
    margin: 0;
    padding: 0;
  }
  body{
    background: #e489d0;
    font-family: 'Times New Roman', Times, serif;
  }
  .Container{
    width: 1200px;
    background: white;
    margin: 10px auto;
  }
  .Superior{
  background: #e494e0;
  overflow: hidden;
  }
  .logo{
  float: left;
  width: 200px;
  padding: 35px;
  }
  /*estilos para el menu opciones*/
  .menu{
    float: left;
    padding: 100px;
  center
  }
    .opciones li{
      float: left;
      list-style: none;
    }
    .opciones li a{
      color: white;
      padding: 25px;
      text-decoration: none;
      border: 1px solid white;
    }
    .opciones li a:hover{
      background: #d43ca2;
    }
    .titulo{
    text-align: center;
    } 
    /*estilo para el cuerpo*/
    
    .cuerpo{
      overflow: hidden;
    }
    .caja{
      overflow: hidden;
      float: left;
      width: 380px;
      margin: 8px; 
      border: 1px solid
    }
    
    .subtitulo{
      background: #a14199;
    }
    .labiales{
      color: white;
      text-align: center;
      padding: 15px 0;
    }
    .efecto:hover{
    opacity: 0.8;
    cursor: pointer;
  
    }
    .contenido{
    padding: 20px;
    text-align: justify;
    }
  
    .boton{
    padding: 15px 20px;
    margin: 20px 0;
    color: rgb(240, 230, 230);
    background-color: #d43ca2;
    border-radius: 5px;
    }
    .boton:hover{
      background: #e452a2;
      cursor: pointer;
    }
    .titulo{
      text-align: center;
      padding: 20px 0 15px;
      color: #000000;
      font-size: 35px;
    }
    
    .pie{
      background: #bd16b4;
      overflow: hidden;
    }
    .izquierda{
      float: left;
      width: 550px;
      padding: 20px;
    }
    .derecha{
      float: left;
      width: 550px;
      padding: 20px;
    }
    .abajo{
      color: white;
      font-size: 12px;
      padding: 10px;
      text-align: justify;
    }
    .siguenos{
      text-align: center;
      color: white;
      padding: 15px 0;
    }
    
    /*/Textos de las descripciones/*/
    
    .Descripcion1{
      text-align: center;
      text-align: justify;
      padding: 80px;
      font-family: Times New Roman;
    }
    .Descripcion2{
      text-align: center;
      text-align: justify;
      padding: 80px;
      font-family: Times New Roman;
    }
    
    .Descripcion3{
    text-align: center;
      text-align: justify;
      padding: 50px;
      font-family: Times New Roman;
    }
    .Descripcion4{
      text-align: center;
      text-align: justify;
      padding: 40px;
      font-family: Times New Roman;
    }
    
    .Descripcion5{
      text-align: left;
      text-align: justify;
      padding: 5px;
      font-family: Times New Roman;
    }
    .Descripcion6{
      text-align: left;
      text-align: justify;
      padding: 30px;
      font-family: Times New Roman;
      
    }
    .Descripcion7{
      text-align: left;
      text-align: justify;
      padding: 10px;
      font-family: Times New Roman;
    }
    
    .usos{
      text-align: left;
      text-align: justify;
      padding: 10px;
      font-family: Times New Roman;
    }